<mat-card>
  <mat-card-title>Register</mat-card-title>
  <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <p>
        <mat-form-field>
          <label>Email</label>
          <input type="text" matInput formControlName="email">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <label>Password</label>
          <input type="password" matInput formControlName="password">
        </mat-form-field>
      </p>
      <div class="button">
        <button type="submit" >Register</button>

        <button mat-button routerLink="/login" routerLinkActive="active">I have an account!</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>


