<h4>Test case design</h4>
<mat-card>
<mat-form-field>
  <mat-label>Project: </mat-label>
  <mat-select [(value)]="pselected" (valueChange)="changeproject(pselected)">
    <mat-option *ngFor="let project of projects" [value]="project.name">{{project.name}}</mat-option>
  </mat-select>
</mat-form-field>
  <button mat-button routerLink="/project" routerLinkActive="active">Add more Project</button>
</mat-card>
<mat-card>
<mat-form-field>
  <mat-label>Testcase: </mat-label>
  <mat-select [(value)]="tselected" #cur_tc (selectionChange)="loadtc(cur_tc.value)">
    <mat-option *ngFor="let tc of testcases" [value]="tc.name">{{tc.name}}</mat-option>
  </mat-select>
</mat-form-field>
  <button mat-button *ngIf="currenttc.status==4" routerLink="/execution/{{cur_tc.value}}" routerLinkActive="active">Execute</button>
  <mat-card>
  <mat-form-field>
    <mat-label>Version</mat-label>
    <input matInput [value]="currenttc?.tc_version" #cur_version disabled>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select [(value)]="stselected" #cur_status>
      <mat-option *ngFor="let st of liststatuts" [value]="st.k">{{st.v}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Design by</mat-label>
    <input matInput [value]="currenttc?.designer" disabled>
  </mat-form-field>
    <mat-form-field>
    <mat-label>Creator</mat-label>
    <input matInput [value]="currenttc?.creator" disabled>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Reviewer</mat-label>
    <input matInput [value]="currenttc?.reviewer" disabled>
  </mat-form-field>
    <button mat-button (click)="savetc(currenttc.name,cur_status.value)">Save</button>
  </mat-card>
  <mat-card>
    <mat-table [dataSource]="steps">
      <ng-container matColumnDef="Step">
        <mat-header-cell *matHeaderCellDef> Step </mat-header-cell>
        <mat-cell *matCellDef="let element;index as i;"> #{{ i }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element;">{{element?.action}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Expected">
        <mat-header-cell *matHeaderCellDef> Expected </mat-header-cell>
        <mat-cell *matCellDef="let element;">{{element?.expected}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="deleteRowData(element)">Delete</button>
        </td>
      </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <h4>Add more step</h4>
    <mat-form-field appearance="fill">
      <mat-label>Action</mat-label>
      <input matInput #action required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Expected</mat-label>
      <input matInput #expected required>
    </mat-form-field>
    <button mat-button (click)="addstep(action.value,expected.value)">Add</button>
  </mat-card>
</mat-card>

