

<mat-card>
  <!-- execution result -->
  <h4>Testcase Report</h4>
  <button mat-raised-button>Start</button>


  <!-- execution result -->
  <h4>Testcase Information</h4>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Project</mat-label>
      <input matInput placeholder="project name" [value]="execution.project_name" readonly>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Testcase</mat-label>
      <input matInput placeholder="testcase name" [value]="execution.tc_name" readonly>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Testcase Version</mat-label>
      <input matInput placeholder="testcase version" [value]="execution.tc_version" >
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Build Number</mat-label>
      <input matInput placeholder="build number" [value]="execution.build_number">
    </mat-form-field>

    <!-- execution result -->
    <h4>Execution Result</h4>
    <mat-table [dataSource]="results">
      <ng-container matColumnDef="Step">
        <mat-header-cell *matHeaderCellDef> Step </mat-header-cell>
        <mat-cell *matCellDef="let element;index as i;"> #{{ i }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element;">{{element.action}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Expected">
        <mat-header-cell *matHeaderCellDef> Expected </mat-header-cell>
        <mat-cell *matCellDef="let element;">{{element.expected}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Comment">
        <mat-header-cell *matHeaderCellDef> Comment </mat-header-cell>
        <mat-cell *matCellDef="let element;"><input matInput [value]="element.comment"></mat-cell>
      </ng-container>
      <ng-container matColumnDef="Execution">
        <mat-header-cell *matHeaderCellDef>Execution</mat-header-cell>
        <mat-cell *matCellDef="let element;">
          <mat-select #stepResult placeholder="Select result">
            <mat-option [value]="element.result">PASSED</mat-option>
            <mat-option [value]="element.result">FAILED</mat-option>
          </mat-select>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Update">
        <mat-header-cell *matHeaderCellDef> Update </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-button (click)="updateRowData(element)">update</button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <br>
    <!-- update testcase resut -->
    <button mat-raised-button (click)="saveresult()">Save</button>
  </form>
</mat-card>

