

<mat-card>
  <!-- execution result -->
  <h4>Testcase Report</h4>
  <!-- execution result -->
  <h4>Testcase Information</h4>
  <mat-form-field>
    <mat-label>Version</mat-label>
    <input matInput [value]="testcases?.tc_version" #cur_version disabled>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Design by</mat-label>
    <input matInput [value]="testcases?.designer" disabled>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Creator</mat-label>
    <input matInput [value]="testcases?.creator" disabled>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Reviewer</mat-label>
    <input matInput [value]="testcases?.reviewer" disabled>
  </mat-form-field>
</mat-card>
    <!-- execution result -->
<mat-card>
  <input matInput placeholder="Build number:(ex: 1.0)" #build_number (change)="clicked=false">
<button mat-raised-button (click)="start(testcases.name, build_number.value); clicked=true" [disabled]="clicked">Start Execution</button>
    <mat-table [dataSource]="testcases?.steps">
      <ng-container matColumnDef="Step">
        <mat-header-cell *matHeaderCellDef> Step </mat-header-cell>
        <mat-cell *matCellDef="let element;index as i;"> #{{ i }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element;">{{element.action}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Expected">
        <mat-header-cell *matHeaderCellDef> Expected </mat-header-cell>
        <mat-cell *matCellDef="let element;">{{element.expected}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Comment">
        <mat-header-cell *matHeaderCellDef> Comment </mat-header-cell>
        <mat-cell *matCellDef="let element;index as i;"><input matInput [id]="'c'+i"></mat-cell>
      </ng-container>
      <ng-container matColumnDef="Execution">
        <mat-header-cell *matHeaderCellDef>Execution</mat-header-cell>
        <mat-cell *matCellDef="let element;index as i;">
          <mat-select [id] = "'r'+i" placeholder="Select result" (selectionChange)="updateRowData( $event,i, element._id)" >
            <mat-option value="PASSED">PASSED</mat-option>
            <mat-option value="FAILED">FAILED</mat-option>
          </mat-select>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <br>
    <!-- update testcase resut -->
    <button mat-raised-button (click)="saveresult()">Stop</button>
</mat-card>

