<app-header></app-header>
<mat-card>
  <table>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Role</th>
      <th>Status</th>
    </tr>
    <tr *ngFor="let user of users">

      <td>
        <mat-form-field>
          <input matInput [value]="user._id" disabled>
        </mat-form-field>
      </td>

      <td>
        <mat-form-field>
          <input matInput [value]="user.email" disabled>
        </mat-form-field>
      </td>

      <td>
        <mat-form-field>
          <input matInput value="{{user.role | userrole}}" disabled>
          <button mat-button (click)="changerole(user.email, user.role)">Change Role</button>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput value="{{user.status | userstatus}}" disabled>
          <button mat-button (click)="changestatus(user.status, user.email)">Change status</button>
        </mat-form-field>
      </td>
    </tr>

  </table>
</mat-card>

