<app-header></app-header>
<table>
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Role</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th>Select new Role</th>
    <th></th>
  </tr>
  <tr *ngFor="let user of users">

    <td>
      <mat-form-field>
        <input matInput [value]="user._id">
      </mat-form-field>
    </td>

    <td>
      <mat-form-field>
        <input matInput [value]="user.email">
      </mat-form-field>
    </td>

    <td>
      <mat-form-field>
        <input matInput [value]="user.role">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <input matInput [value]="user.status">
      </mat-form-field>
    </td>


    <td>
      <button mat-button (click)=activate(user.email) >Activate</button>
    </td>
    <td>
      <button mat-button (click)=deactivate(user.email)  >Deactivate</button>
    </td>

      <td>
  <mat-form-field>
    <select matNativeControl required>
      <option value="Tester">Tester</option>
      <option value="Senior Tester">Senior Tester</option>

    </select>
  </mat-form-field>
    </td>
    <td>
      <button mat-button (click)=changerole(user.email,user.role)  >ChangeRole</button>
    </td>
  </tr>

</table>
